
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'user', user: @user, book: @newbook %>
    </div>
    
    <div class="col-md-8 offset-md-1">
      <h1>Book detail</h1>
      
      <table class="table table-striped">
      <tr>
        <td>
          <%= link_to user_path(@book.user) do %>
          <%= image_tag @book.user.get_profile_image(100,100) %>
          <%= @book.user.name %>
          <% end %>
        </td>
        <td>
          <span><%= link_to @book.title, book_path(@book.id) %></span>
        </td>
        <td>
          <span><%= @book.body %></span>
        </td>
        <td>
          <% if @book.user == current_user %>
          <%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-secondary"%>
          <% end %>
        </td>
        <td>
          <% if @book.user == current_user %>
          <%= link_to "Destroy", destroy_book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" , class: "btn btn-secondary"%>
          <% end %>
        </td>
        </tr>
      </table>
    </div>
  </div>
</div>